@import '/src/variables';

.HeaderText {
    font-size: 24px;
    text-overflow: ellipsis;
}

.Header {
    width: 100%;
    padding: 11px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-active {
        .HeaderText {
            color: #000000;
        }
    }

    &-default {
        .HeaderText {
            color: #7f8285;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .Button {
            width: 100%;
        }

        .Button_text {
            display: none;
        }
    }
}