.MetaInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 13px;
}

.PrimaryText {
    color: #000000;
}

.SecondaryText {
    color: rgba($color: #000000, $alpha: .65)
}

.MetaIcon {
    fill-opacity: 30%;
}