@import '/src/_variables';

.StartContent {
    display: flex;
    flex-direction: column;
    justify-self:center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    min-height: 100%;
}