$padding-size: 36px;

.NumberInput {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 8px;
    margin: 12px 0px;

    .Input {
        box-sizing: border-box;
        width: 52px;
        text-align: right;
    }
}

.MeasureUnit {
    color: #434445;
}

.TextInput {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 4px;

    .Input {
        min-width: 474px;
        padding-right: $padding-size;
    }

    &-error {
        border-color: #ff3333
    }
}

.TextInputContainer {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.Input {
    border-radius: 4px;
    border-width: 2px;
    border-color: #d9d9d9;
    border-style: solid;
    padding: 9px 11px;

    &::placeholder {
        color: rgba(0, 0, 0, 0.2);
    }

    &:focus, &:focus-visible {
        border-color: #b3b3b3;
        outline: none;
    }
}

.InputLabel {
    text-align: left;
    em {
        color: #ff3333
    }
}

.IconContainer {
    padding: 10px;
    margin-left: -$padding-size;

    path {
        fill: rgb(204, 204, 204);
    }

    &:hover {
        path {
            fill: darken(rgb(204, 204, 204), 5%);
        }
    }

    &:hover {
        path {
            fill: darken(rgba(204, 204, 204, 0.2), 5%);
        }
    }
}
