@import '/src/variables';

.SettingsContent {
    display: flex;
    flex-direction: column;
    justify-self:left;
    align-items: flex-start;

    h3 {
        margin-bottom: 0px;
    }

    p {
        color: #7f8285;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        .ButtonGroup {
            flex-direction: column;
            width: 100%;
        }

        .Button {
            width: 100%;
        }
    }
}