.SettingsContent {
    display: flex;
    flex-direction: column;
    justify-self:left;
    align-items: flex-start;

    h3 {
        margin-bottom: 0px;
    }

    p {
        color: #7f8285;
    }
}