@import '/src/variables';

.Footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: min-content;
    padding: $main-padding;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: hsl(200, 11%, 95%);
    margin-top: 8px;

    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        padding: $main-mobile-padding;
        align-content: space-between;
        align-items: space-between;
        gap: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.FooterMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 12px;
    white-space: nowrap;
    overflow: hidden;

    @media screen and (max-width: $mobile-breakpoint) {
        justify-content: flex-start;
    }
}

.Copyright {
    color: #7f8285;
}
