@import '/src/variables';

.Footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: min-content;
    padding: $main-padding;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f0f2f3;
    margin-top: 8px;
}

.FooterMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 12px;
}

.Copyright {
    color: #7f8285;
}
